/* styles.css */
.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
h1 {
  color: rgba(0, 4, 255, 0.404);
  text-align: center;
  font-size: 24px;
}
.botones {
  display: flex;
  justify-content: center;
  gap: 16px;
}
aside {
  width: 30%;
  padding-left: 5%;
}
section {
  width: 70%;
  padding-left: 30px;
  padding-right: 10%;
}
* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  color: rgba(255, 0, 0, 0.404);
  font-size: 20px;
}
body {
  background: linear-gradient(120deg, #f0e6ff 0%, #e0f7fa 100%);
}
.contenido-extra {
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  gap: 30px;
}
.contenido-extra p {
  flex: 1 1 50%;
}