body {
    font-family: Arial, sans-serif;
    background: #fff;
}
h1 {
    color: #2c3e50;
    text-align: center;
}
section {
    background: #fff;
    margin: 2px auto 10px auto;
    max-width: 600px;
}
.contenedorPrincipal {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    align-items: flex-start;
    margin-bottom: 20px;
}
aside {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 20px;
    min-width: 220px;
    max-width: 260px;
}
.contenedorPrincipal section {
    margin: 0;
    max-width: 600px;
    flex: 1;
}

.detalles {

}
.detalle-cols {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    transition: flex-direction 0.3s;
}
.detalle-cols.filas {
    flex-direction: column;
}
.detalle-cols > div {
    flex: 1;
    text-align: left;
}
p {
    color: #444;
    font-size: 1rem;
    line-height: 1.5;
}
.contenedorHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    justify-content: center;
}
button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
        