/* styles.css */
.container {
  display: flex;
  flex-direction: row;
}
h1 {
  color: rgba(0, 4, 255, 0.404);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}
aside {
  width: 30%;
}
section {
  width: 70%;
  padding-left: 50x;
}
